<div class="row">
    <div class="col-md-12">
        <h2>Add Category</h2>

        <form action="/categories/add" method="POST">
            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" class="form-control" id="category" name="category" autofocus>
            </div>

            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>

        <br />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th></th> <!-- Empty header for the remove column -->
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
                    <tr>
                        <td>{{this.category}}</td>
                        <td>
                            <a href="/categories/delete/{{this.id}}" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>
